@{
    ViewBag.Title = "Administrador";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string idDaSessao = Session.SessionID;
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<h1>Bem-vindo ao Portal do Administrador</h1>
O que você quer fazer?<br /><br />

<table class="table">
    <tr>
        <td><b>Opção</b></td>
        <td><b>Acesso</b></td>
    </tr>
    <tr>
        <td>Cadastrar instrumento</td>
        <td><a href="/admin/cadastro/instrumento" class="btn btn-secondary" style="background: #ffd42a; color: #545255; border: white; ">Clique aqui</a></td>
    </tr>
    <tr>
        <td>Cadastrar tipo de serviço</td>
        <td><a href="/admin/cadastro/servico" class="btn btn-secondary" style="background: #ffd42a; color: #545255; border: white; ">Clique aqui</a></td>
    </tr>
</table>