@{
    ViewBag.Title = "Administrador";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string idDaSessao = Session.SessionID;
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<h1>Bem-vindo ao Portal do Administrador</h1>
<h3 style="font-size: 22px;">O que você quer fazer?</h3><br /><br />

<table class="table">
    <tr>
        <td><b>Opção</b></td>
        <td><b>Acesso</b></td>
    </tr>
    <tr>
        <td>Gerenciar Instrumentos</td>
        <td><a href="/admin/instrumentos" class="btn btn-secondary" style="background: #ffd42a; color: rgba(0,0,0,.5); border: white;">Clique aqui</a></td>
    </tr>
    <!---<tr>
        <td>Gerenciar Tipos de Serviço</td>
        <td><a href="/admin/cadastro/servico" class="btn btn-secondary" style="background: #ffd42a; color: rgba(0,0,0,.5); border: white;">Clique aqui</a></td>
    </tr>-->
</table>