@{
    ViewBag.Title = "Autenticacao";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string idDaSessao = Session.SessionID;
    List<Business.Servico> servicos = ViewBag.Servicos;
    int ajustarFormulario = 95;
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<style>
    .container {
        width: 90vw;
        height: @ajustarFormulario vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .centraliza {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .form-check-input:checked {
        background-color: darkseagreen;
        border-color: darkseagreen;
    }

    .jumbotron {
        position: relative;
        /* background: none; */
        background: #4F4407;
    }

    #servicosSelecionados {
        width: 70%;
    }

        #servicosSelecionados div {
            width: -10%;
            display: inline-table;
        }

    .jumbotron {
        padding: 6rem 25rem;
    }
</style>

<div id="divCadastro">
    <div class="container">
        <div class="jumbotron">
            <div class="centraliza">
                <h2 class="display-4" style="color: white;">Novo Luthier</h2>
            </div>
            <form action="/autenticacao/criarLuthier" method="post">
                <br /><h3 style="color: white; font-weight: 300;"><u>Informações pessoais</u></h3>
                <div class="form-group">
                    <label style="color: white;">Nome completo</label>
                    <input type="text" class="form-control" id="txtNome" name="txtNome" placeholder="Insira seu nome completo">
                    <input type="text" class="form-control" id="arrayServicos" name="arrayServicos" style="display:none;" />
                </div>

                <div class="form-group">
                    <label style="color: white;">Nome do usuário</label>
                    <input type="text" class="form-control" id="txtUsuario" name="txtUsuario" placeholder="Exemplo: mariogioia">
                    <small id="emailHelp" class="form-text text-muted"><i style="color: darkseagreen">Você usará este nome para acessar sua conta</i></small>
                </div>

                <div class="form-group">
                    <label style="color: white;"> Senha</label>
                    <input type="password" class="form-control" id="txtSenha" name="txtSenha" placeholder="Insira sua senha">
                    <input style="display: none;" type="text" class="form-control" id="idSessao" name="idSessao">
                    <!--<small id="emailHelp" class="form-text text-muted">Nunca compartilhe sua senha com alguém.</small>-->
                </div>

                <div class="form-group">
                    <label style="color: white;">CPF</label>
                    <input type="text" class="form-control" id="txtCpf" name="txtCpf" placeholder="Insira apenas números">
                </div>

                <div class="form-group">
                    <label style="color: white;">CNPJ</label>
                    <input type="text" class="form-control" id="txtCnpj" name="txtCnpj" placeholder="Insira apenas números">
                </div>

                <h3 style="color: white; font-weight: 300;"><u>Serviços</u></h3>
                <div class="form-group">
                    <select style="color: black;" onchange="adicionaServicoNaLista(this.value, this.div);" id="selServicos" name="selServicos">
                        @foreach (var servico in servicos)
                        {
                            <option style="color: rgba(0,0,0,.5);" id="txtServico/@servico.id" name="txtServico/@servico.id" value="@servico.id">@servico.descricao</option>
                        }
                    </select>
                    <br /><small id="emailHelp" class="form-text text-muted"><i style="color: darkseagreen;">Clique no serviço que deseja <i style="color:red;">retirar</i> da sua Lista de Competências</i></small>
                    <hr style="color: white;" />
                </div>

                <div id="servicosSelecionados">
                    @foreach (var servico in servicos)
                    {
                        <div id="labelServicos">
                            <label id="lbServico/@servico.id" onclick="deletaServicoDaLista(this, @servico.id);" style="color:white;"></label>
                        </div>
                    }
                </div>
                <hr style="color: white;" />

                <div class="form-group">
                    <h3 style="color: white; font-weight: 300;"><u>Contato</u></h3>
                    <label style="margin-left: 10px; color: white;">Celular</label>
                    <input type="checkbox" class="form-check-input" style="margin-left: 20px;" onclick="mostrarCampoCelular();" />
                    <label style="margin-left: 110px; color: white;">Telefone</label>
                    <input type="checkbox" class="form-check-input" style="margin-left: 20px;" onclick="mostrarCampoTelefone();" />
                </div>

                <div class="form-group" style="display: none;" id="divCelular" name="divCelular">
                    <hr class="my-4" />
                    <label style="color: white;">DDD</label>
                    <input type="text" class="form-control" id="txtDddCelular" name="txtDddCelular" placeholder="Exemplo: 13"><br />
                    <label style="color: white;">Celular</label>
                    <input type="text" class="form-control" id="txtCelular" name="txtCelular" placeholder="Insira apenas números">
                    <hr class="my-4" />
                </div>

                <div class="form-group" style="display: none;" id="divTelefone" name="divTelefone">
                    <hr class="my-4" />
                    <label style="color: white;">DDD</label>
                    <input type="text" class="form-control" id="txtDddTelefone" name="txtDddTelefone" placeholder="Exemplo: 11"><br />
                    <label style="color: white;">Telefone</label>
                    <input type="text" class="form-control" id="txtTelefone" name="txtTelefone" placeholder="Insira apenas números">
                    <hr class="my-4" />
                </div>

                <div class="form-group">
                    <label style="color: white;">E-mail</label>
                    <input type="email" class="form-control" id="txtEmail" name="txtEmail" placeholder="Insira seu e-mail">
                </div>

                <div class="form-group">
                    <h3 style="color: white; font-weight: 300;"><u>Localização</u></h3>
                    <label style="color: white;">CEP</label><span style="color: red; margin-left: 2px;">*</span>
                    <input type="text" class="form-control" id="txtCep" name="txtCep" placeholder="Insira apenas números">
                </div><br />

                <div class="form-group">
                    <label style="color: white;">Logradouro</label>
                    <input type="text" class="form-control" id="txtLogradouro" name="txtLogradouro">
                </div><br />

                <div class="form-group">
                    <label style="color: white;">Bairro</label>
                    <input type="text" class="form-control" id="txtBairro" name="txtBairro">
                </div><br />

                <div class="form-group">
                    <label style="color: white;">Cidade</label>
                    <input type="text" class="form-control" id="txtCidade" name="txtCidade">
                </div><br />

                <div class="form-group">
                    <label style="color: white;">UF</label>
                    <input type="text" class="form-control" id="txtUf" name="txtUf">
                </div><br />



                <div class="centraliza">
                    <button type="submit" id="botaoCadastro" name="botaoCadastro" class="btn btn-primary" style="background-color: white; color: rgba(0,0,0,.5); border-color: white">Cadastro</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $().ready(function () {
        document.getElementById('idSessao').value = '@idDaSessao';
    });

    function mostrarCampoCelular() {
        if (document.getElementById('divCelular').style.display == "none") {
            document.getElementById('divCelular').style.display = "block";
        }
        else if (document.getElementById('divCelular').style.display == "block") {
            document.getElementById('divCelular').style.display = "none";
        }
    }

    function mostrarCampoTelefone() {
        if (document.getElementById('divTelefone').style.display == "none") {
            document.getElementById('divTelefone').style.display = "block";
        }
        else if (document.getElementById('divTelefone').style.display == "block") {
            document.getElementById('divTelefone').style.display = "none";
        }
    }

    jQuery(function ($) {
        $("input[name='txtCep']").change(function () { // Mudar para .change depois dos testes
            var cep_code = $(this).val();
            if (cep_code.length <= 0) return;
            $.get("http://viacep.com.br/ws/" + cep_code + "/json/", { code: cep_code }, function (resultado) {
                if (resultado.erro == 1) {
                    alert("Endereço não encontrado!")
                    $("input[name='cep']").val("");
                    $("input[name='cidade']").val("");
                    $("input[name='bairro']").val("");
                    $("input[name='endereco']").val("");
                    $("input[name='estado']").val("");
                }
                else {
                    $("input[name='txtCidade']").val(resultado.localidade);
                    $("input[name='txtBairro']").val(resultado.bairro);
                    $("input[name='txtLogradouro']").val(resultado.logradouro);
                    $("input[name='txtUf']").val(resultado.uf);
                }
            });
        });
    });

    function adicionaServicoNaLista(idServico, div) {
        document.getElementById('lbServico/' + idServico).style.display = 'block';
        let futuraArray = document.getElementById('arrayServicos').value;
        var minhaArray = futuraArray.split(",");

        if (minhaArray.includes(idServico)) {
        }
        else if (document.getElementById('arrayServicos').value == "") {
            document.getElementById('arrayServicos').value = idServico;
        }
        else {
            document.getElementById('arrayServicos').value = document.getElementById('arrayServicos').value + "," + idServico;
        }

        var listaDeServicos = [];
        for (i = 1; i <= 10; i++) {
            listaDeServicos.push(document.getElementById('txtServico/' + i).textContent);
        }
        document.getElementById('lbServico/' + idServico).textContent = listaDeServicos[idServico - 1];

        /*var pulaLinha = document.createElement("br");
        document.getElementById('servicosSelecionados').appendChild(pulaLinha);
        document.getElementById('servicosSelecionados').appendChild(pulaLinha);*/
        console.log("Minha array após adição: " + document.getElementById('arrayServicos').value);
    }

    function deletaServicoDaLista(label, idServico) {
        console.log("ID do serviço selecionado para deletar: " + idServico);
        label.style.display = 'none';

        let futuraArray = document.getElementById('arrayServicos').value;
        var minhaArray = futuraArray.split(',');
        for (i = 0; i < minhaArray.length; i++) {
            minhaArray[i] = parseInt(minhaArray[i], 10);
        }

        console.log("Index do serviço selecionado na array: " + minhaArray.indexOf(idServico) + "\nID do serviço selecionado: " + idServico);
        console.log("Array: " + minhaArray);
        for (i = 0; i <= minhaArray.length; i++) {
            if (minhaArray.indexOf(i) == minhaArray.indexOf(idServico)) {
                minhaArray[minhaArray.indexOf(idServico)] = 999;
                console.log("Array final: " + minhaArray);
                break;
            }
        }
        document.getElementById('arrayServicos').value = minhaArray;
        console.log("Valores a serem transferido: " + document.getElementById('arrayServicos').value);
    }

    /*jQuery(function ($) {
        $(document).ready(function () {
            document.getElementById('txtNome').value = "A";
            document.getElementById('txtUsuario').value = "A";
            document.getElementById('txtSenha').value = "123";
            document.getElementById('txtCpf').value = "46897656754";
            document.getElementById('txtCnpj').value = "98527671000100";
            document.getElementById('txtDddCelular').value = "11";
            document.getElementById('txtCelular').value = "956477543";
            document.getElementById('txtDddTelefone').value = "16";
            document.getElementById('txtTelefone').value = "41769504";
            document.getElementById('txtEmail').value = "a@live.com";
            document.getElementById('txtCep').value = "06537120";
            document.getElementById('txtCep').dispatchEvent(new MouseEvent('click', { shiftKey: true }));
        });
    });*/
</script>